@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
  --cor-principal: #1e90ff;
  --amarelo-botao: #eeee00;
  --azul-texto: #0101489f;
  --azul-titulo: #191970;
  --cor-fundo: #fffafa;
  --titulo-servicos: #00ced1;
  --cor-linha-grid: #cdc9c971;
  --background-teste-gratis: #00bfff;
  --cor-rodape: #191970;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 1s;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* ------------------------------------------- ESTILO GERAL ------------------------------------------- */

button {
  border: 0;
  border-radius: 4px;

  background-color: var(--amarelo-botao);
  color: #fff;

  text-transform: uppercase;
  font-size: 'Montserrat', sans-serif;
  font-weight: 600;

  padding: 1em 2em 1em 2.6em;
  cursor: pointer;
}

button > i {
  padding-left: 20px;
}

/* ------------------------------------------- CABECALHO ------------------------------------------- */

.cabecalho {
  background-color: var(--cor-principal);
  padding: 20px 0;

  border-bottom: 0.5px solid rgba(233, 233, 233, 0.933);
}

.cabecalho .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho h1 img {
  width: 100px;
  height: 60px;
}

.cabecalho ul {
  list-style: none;
}

.cabecalho ul li {
  display: inline;
  margin-right: 10px;
}

.cabecalho ul li a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

/* ------------------------------------------- PRINCIPAL ------------------------------------------- */

.principal {
  background-color: var(--cor-principal);
}

.principal .container {
  padding: 100px 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principal p {
  text-align: center;
  font-size: 36px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
}

.principal .icones {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 8rem 0;
  width: 100%;
}

.principal .icone-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principal .icone-central img {
  width: 100px;
  margin: 0 auto;
}

.principal .icone-central span {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;

  width: 50%;
  margin-top: 0.5rem;
}

/* ------------------------------------------- PRINCIPAL ------------------------------------------- */
#video {
  background-color: var(--cor-fundo);

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.descricao-video {
  padding: 8rem 0rem;
  justify-self: center;

  margin-left: 250px;
}

.descricao-video a {
  background-color: var(--cor-principal);
  border-radius: 5px;
  padding: 0.9rem 0.8rem;
}

.descricao-video a i {
  font-size: 20px;
  color: #fff;
}

.descricao-video h4 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 8rem;
  color: var(--azul-titulo);

  margin-bottom: 2rem;
}

.descricao-video p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: var(--azul-texto);

  width: 80%;
  margin-bottom: 8rem;
}

#video .video {
  height: 800px;
  margin-left: 0;

  position: relative;
}

#video .video img:nth-child(1) {
  position: absolute;
  cursor: pointer;
  right: 45%;
  bottom: 50%;
}

#video .video img:nth-child(2) {
  height: 100%;
  width: 100%;
}

/* ------------------------------------------- PRINCIPAL ------------------------------------------- */
#solucoes {
  background-color: var(--cor-fundo);
}

#solucoes header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  padding-top: 5rem;
  padding-bottom: 4rem;
}

#solucoes h4 {
  width: 300px;
  font-size: 2rem;
  color: var(--azul-titulo);
  margin: 0 auto;

  line-height: 3rem;
}

#solucoes header div {
  width: 400px;
  margin: 0 auto;
  color: var(--azul-texto);
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

#solucoes .solucoes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#solucoes .solucoes-container div {
  border-top: 2px;
  border-right: 1px;
  border-left: 1px;
  border-bottom: 2px;
  border-style: solid;
  border-color: var(--cor-linha-grid);

  padding-top: 10rem;
  padding-bottom: 10rem;

  padding-left: 250px;
}

#solucoes .solucoes-container div p:nth-child(1) {
  color: var(--titulo-servicos);
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

#solucoes .row-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

#solucoes .row-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

#solucoes .row-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

#solucoes .row-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#solucoes .row-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

#solucoes .row-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

#solucoes .solucoes-container div ul {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--azul-texto);
}

#solucoes .solucoes-container div ul i {
  color: var(--amarelo-botao);
  margin-right: 1rem;
}

#solucoes .solucoes-container div p:nth-child(1) {
  margin-bottom: 1rem;
}

#solucoes .solucoes-container div p:nth-child(2) {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  width: 75%;
}

#solucoes .solucoes-container div ul li {
  margin-bottom: 1rem;
}

/* ------------------------------------------- RESULTADOS ------------------------------------------- */
#resultados {
  background-color: var(--background-teste-gratis);
  padding: 5rem 250px;

  display: flex;
  justify-content: space-around;
}

#resultados p {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2rem;
  color: #fff;
  width: 350px;
  padding-bottom: 3rem;
}

#resultados span {
  font-weight: bold;
}

#resultados button {
  background-color: var(--background-teste-gratis);
  border: 2px solid #fff;
}

#resultados img {
  padding-left: 8rem;
}

/* -------------------------------------------DEPOIMENTOS  ------------------------------------------- */

#depoimentos {
  background-color: var(--cor-fundo);
}

#depoimentos h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: var(--azul-titulo);
  padding-top: 8rem;
}

#depoimentos .depoimento-item {
  border: 2px solid var(--cor-linha-grid);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 4rem 5.5rem;
  width: 700px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 120px;
}

#depoimentos > div .imagem {
  position: relative;
}

#depoimentos > div img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  box-sizing: border-box;

  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: -50px;
}

#depoimentos > div .nome-depoimento {
  color: var(--azul-titulo);
  font-weight: 700;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#depoimentos > div span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--cor-principal);

  margin-top: 10px;
}

#depoimentos > div .texto-depoimento {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: var(--azul-texto);
  font-size: 14px;
  padding: 2rem 0;
}

#depoimentos .indicadores {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 550px;
  margin: 0 auto;
}

#depoimentos .indicadores > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

#depoimentos .indicadores div p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

#depoimentos .indicadores div div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#depoimentos .indicadores div div i {
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  color: var(--background-teste-gratis);
}

#depoimentos .indicadores div div p {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--cor-principal);
}

#depoimentos .btn {
  width: 600px;
  border: none !important;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}

#depoimentos .swiper-wrapper div:nth-child(1) {
  display: flex;
}

#depoimentos .swiper-wrapper {
  justify-content: center;
}
/* ------------------------------------------- TESTE GRÁTIS ------------------------------------------- */
#teste {
  background: rgb(0, 199, 255);
  background: linear-gradient(90deg, #0ab1e9 20%, rgba(0, 135, 255, 1) 77%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#teste div:nth-child(1) {
  width: 50%;
  padding: 8rem 0rem;
  justify-self: center;

  margin-left: 250px;
}

#teste div h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #fff;
  width: 300px;
}

#teste div h4 span:nth-child(1) {
  color: var(--amarelo-botao);
}

#teste div p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  width: 300px;

  margin: 3rem 0;
}

#teste div button {
  width: 250px;
}

#teste .experimente {
  font-size: 10px;
  text-align: center;

  line-height: 1rem;
  width: 200px;

  margin-top: 10px;
  margin-left: 1.5rem;
}

#teste div:nth-child(2) {
  margin-left: 50px;
  justify-self: flex-start;
}

/* ------------------------------------------- FERRAMENTAS ------------------------------------------- */
#ferramentas {
  text-align: center;
  padding: 4rem 5rem;
}

#ferramentas h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: var(--azul-titulo);

  width: 250px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#ferramentas p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #bdbdbd;
  width: 400px;
  margin: 0 auto;
}

#ferramentas .icones {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 100px 0;
}

/* ------------------------------------------- RODAPÉ ------------------------------------------- */
footer {
  background-color: var(--cor-rodape);
}

footer .itens-rodape {
  display: flex;
  justify-content: space-between;

  padding-top: 4rem;
  padding-bottom: 5rem;
}

footer .container div h6 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

footer .itens-rodape ul {
  list-style: none;
}

footer .itens-rodape ul li {
  margin-bottom: 1rem;
}

footer .itens-rodape ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: rgba(180, 180, 180, 0.795);
}

footer .itens-rodape .contato li {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
}

footer .itens-rodape .contato li i {
  margin-right: 10px;
}

footer .itens-rodape .redes-sociais ul li {
  display: inline-block;
  margin-right: 10px;
}

footer .rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 0;
}

footer .rodape img {
  height: 50px;
}

footer .rodape p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #bdbdbd;
}

footer .rodape span {
  color: #1e90ff;
}

.swiper {
  width: 100%;
}

.swiper-slide .depoimento-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
