@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
  --cor-principal: #1e90ff;
  --amarelo-botao: #eeee00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* ------------------------------------------- CABECALHO ------------------------------------------- */

.cabecalho {
  background-color: var(--cor-principal);
  padding: 20px 0;

  border-bottom: 0.5px solid rgba(233, 233, 233, 0.933);
}

.cabecalho .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho h1 img {
  width: 100px;
  height: 60px;
}

.cabecalho ul {
  list-style: none;
}

.cabecalho ul li {
  display: inline;
  margin-right: 10px;
}

.cabecalho ul li a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

/* ------------------------------------------- PRINCIPAL ------------------------------------------- */

.principal {
  background-color: var(--cor-principal);
}

.principal .container {
  padding: 100px 80px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principal p {
  text-align: center;
  font-size: 36px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
}

.principal button {
  border: 0;
  border-radius: 2px;

  background-color: var(--amarelo-botao);
  color: #fff;

  text-transform: uppercase;
  font-size: 'Montserrat', sans-serif;
  font-weight: 600;

  padding: 1em 2.6em;
  cursor: pointer;
}

.principal button > i {
  padding-left: 20px;
}
