@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
  --cor-principal: #1e90ff;
  --amarelo-botao: #eeee00;
  --azul-texto: #19197077;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* ------------------------------------------- ESTILO GERAL ------------------------------------------- */

button {
  border: 0;
  border-radius: 2px;

  background-color: var(--amarelo-botao);
  color: #fff;

  text-transform: uppercase;
  font-size: 'Montserrat', sans-serif;
  font-weight: 600;

  padding: 1em 2.6em;
  cursor: pointer;
}

button > i {
  padding-left: 20px;
}

/* ------------------------------------------- CABECALHO ------------------------------------------- */

.cabecalho {
  background-color: var(--cor-principal);
  padding: 20px 0;

  border-bottom: 0.5px solid rgba(233, 233, 233, 0.933);
}

.cabecalho .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho h1 img {
  width: 100px;
  height: 60px;
}

.cabecalho ul {
  list-style: none;
}

.cabecalho ul li {
  display: inline;
  margin-right: 10px;
}

.cabecalho ul li a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

/* ------------------------------------------- PRINCIPAL ------------------------------------------- */

.principal {
  background-color: var(--cor-principal);
}

.principal .container {
  padding: 100px 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principal p {
  text-align: center;
  font-size: 36px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
}

.principal .icones {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 8rem 0;
  width: 100%;
}

.principal .icone-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principal .icone-central img {
  width: 100px;
  margin: 0 auto;
}

.principal .icone-central span {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;

  width: 50%;
  margin-top: 0.5rem;
}

/* ------------------------------------------- PRINCIPAL ------------------------------------------- */
#video {
  background-color: #fffafa;
}

#video .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.descricao-video {
  padding: 8rem 0;
}

.descricao-video a {
  background-color: var(--cor-principal);
  border-radius: 5px;
  padding: 0.9rem 0.8rem;
}

.descricao-video a i {
  font-size: 20px;
  color: #fff;
}

.descricao-video h4 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 8rem;
  color: #191970;

  margin-bottom: 2rem;
}

.descricao-video p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: var(--azul-texto);

  width: 80%;
  margin-bottom: 8rem;
}

#video .video {
  height: 800px;
  margin-left: 0 !important;
}

#video .video img {
  height: 100%;
  margin-left: 0 !important;
  box-sizing: border-box;
}
